<header>
  <h2>{{pageName}}</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/to-do">To-Do</a></li>
    <li><a href="/projects">Projects</a></li>
  </ul>
</header>
