<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hill About</title>
</head>
<body>
  {{> header}}
  <h3>What Matters Most...</h3>
  <ol>
    <li>My Lord</li>
    <li>My Wife</li>
    <li>Cooking</li>
    <li>Coding</li>
  </ol>
  {{> footer}}
</body>
</html>
