<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hill Home</title>
</head>
<body>
  {{> header}}
<!-- A helper function called with a piece of data passed with res.render() as an argument. --->
  <p>{{upDownIt welcomeMessage}}</p>
<!-- Name of partial to insert//* -->
  {{> footer}}
</body>
</html>
