<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hill Projects</title>
</head>
<body>
  {{> header}}
  <h3>My Projects</h3>
  <p>Here is a list of my current projects:</p>
  <ul>
    <li><a href="https://github.com/RyanHill92/node-course-server.git">Node Course Server Sample</a></li>
  </ul>
  {{> footer}}
</body>
</html>
