<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hill To-Do List</title>
</head>
<body>
  {{> header}}
  <h3>Things That Need Doing</h3>
  <ul>
    <li>Kombucha Class at RV</li>
    <li>Letter to Mom and Dad</li>
    <li>Scooters with Phil</li>
    <li>Have Blythe for Dinner</li>
    <li>Practice TDD on Codewars</li>
  </ul>
  {{> footer}}
</body>
</html>
